
@model Notes_Market_Place.Models.Country

@{
    ViewBag.Title = "AddCountry";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddCountry", "Admin", FormMethod.Post))
{
    <section class="Add-notes">
        <div class="content-box-md">
            <div class="container">
                <div class="row first-component">
                    <div class="col-md-12">
                        <div class="heading-01">
                            <h2>Add Country</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <form>
                                <div class="form-group input-flid">
                                    <label for="text-1" class="titles">Country Name *</label>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter your country name" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group input-flid">
                            <label for="description" class="titles">Country Code *</label>
                            @Html.TextAreaFor(model => model.CountryCode, new { @class = "form-control", @placeholder = "Enter your country code", @rows = 5 })
                            @Html.ValidationMessageFor(model => model.CountryCode)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="home-add-notes">
                            <input type="submit" class="btn btn-general btn-home-03" target="save" value="submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}


