
@{
    Layout = null;
}

@*<div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">*@
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><img src="~/Content/images/close.png" alt="closeimage"></span>
                        </button>
                    </div>
                    <div id="model-content">
                        <div id="head" class="text-center">
                            <i class="fa fa-check-circle"></i>
                        </div>
                        <h3 class="text-center" id="head-2">Thank you for purchasing</h3>
                        <h4 class="heading">Dear Smith,</h4>
                        <div class="note-description">
                            <p>
                                As this is paid notes-you need to pay to seller Rahil shah offline.We will send him an
                                email that you want to download this note.He may contact you further for payment process
                                completion.
                            </p>

                            <p>In case,you have urgency,<br>Please contect us on +911234567890.</p>

                            <p>
                                Once he recieves the payment and acknowldge us - selected notes you can see over my
                                downloads tab for download.
                            </p>

                            <p id="last">Have a good day.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @*</div>*@
