@model Notes_Market_Place.Models.SellerNotesReportedIssue

@{
    Layout = null;
}

@using(Html.BeginForm("Reportanissue", "Notes", new { id = ViewBag.id },FormMethod.Post)) {
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="~/Content/images/close.png" alt="closeimage"></span>
                    </button>
                </div>
                <div id="model-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="home-03-info">
                                <h3>@ViewBag.title</h3>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group input-flid">
                                <label for="description" class="titles">Remark *</label>
                                @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @placeholder = "Remarks...", @rows = 4 })
                                @Html.ValidationMessageFor(model => model.Remarks)
                            </div>
                        </div>
                        <div class="col-md-12 review">
                            <a class="btn btn-admin btn-home-03" href="#myModal3" data-toggle="modal" role="button">Report Issue</a>
                            <button class="btn btn-admin btn-home-03" data-dismiss="modal">Cancle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><img src="~/Content/images/close.png" alt="closeimage"></span>
                        </button>
                    </div>
                    <div id="model-content">
                        <div class="note-description">
                            <p>
                                Are you sure you want to mark this report as spam, you cannot update it later?
                            </p>
                        </div>
                        <div class="col-md-12 review text-right">
                            <input type="submit" class="btn btn-notes-under-preview btn-home-03" value="yes">
                            @*@Html.ActionLink("Yes", "Reportanissueyes", "Notes", new { id = ViewBag.id}, new { @class = "btn btn-notes-under-preview btn-home-03" })*@
                            @*<a class="btn btn-notes-under-preview btn-home-03" href="@Url.Action("")" target="save" role="button">Yes</a>*@
                            <button class="btn btn-notes-under-preview btn-inreview" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


