@{
    ViewBag.Title = "Home Page";
}

<!--home section-->
<section id="home-01">

    <div class="content-box-lg">

        <!--Home content-->
        <div id="home-content">
            <div class="text-left">
                <div class="home-banner-heading">
                    <h2>Download Free/Paid Notes <br> or Sell Your Book </h2>
                </div>

                <div id="home-text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum cum <br>harum nemo similique
                        quae voluptate.
                    </p>
                </div>

                <div id="home-btn">
                    <a class="btn btn-general btn-home" href="FAQ Page.html" target="Learn More" role="button">
                        learn
                        more
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>
<div id="home_02">
    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <!--left side-->
                <div class="col-md-6 col-sm-6">
                    <div id="home-02-left">
                        <div class="heading-01">
                            <h2>About <br>NotesMarketPlace </h2>
                        </div>
                    </div>
                </div>

                <!--right side-->
                <div class="col-md-6 col-sm-6">
                    <div id="home-02-right">
                        <div class="home-pera">
                            <p id="pera-1">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam sit
                                molestias, unde magni ratione ipsam ipsa, reiciendis quod fugit id, magnam eum vero
                                possimus architecto aliquam officia. Ratione, cumque autem magnam eum.
                            </p>

                            <p id="para-2">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, veritatis
                                quis quam magnam impedit porro possimus dolore ipsa laborum aperiam, id doloribus
                                expedita ut esse nesciunt officiis molestias delectus aut.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="home-03">
    <div class="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="heading-01">
                        <h2>How it Works</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--left part-->
                <div class="col-md-6 col-sm-6 col-6 text-center">
                    <div class="work-image">
                        <img src="~/Content/images/download.png" alt="download" class="img-responsive">
                    </div>
                    <div class="home-03-info">
                        <h3>Download Free/Paid Notes</h3>
                        <div class="home-pera">
                            <p>Get Material for your <br>Course etc.</p>
                        </div>
                    </div>
                    <div class="work-btn">
                        <a class="btn btn-general btn-home-03" href="Search Page.html" target="download"
                           role="button">Download</a>
                    </div>
                </div>
                <!--right part-->
                <div class="col-md-6 col-sm-6 col-6 text-center">
                    <div class="work-image">
                        <img src="~/Content/images/seller.png" alt="seller" class="img-responsive">
                    </div>
                    <div class="home-03-info">
                        <h3>Seller</h3>
                        <div class="home-pera">
                            <p>Upload and Download Course <br>and Material etc.</p>
                        </div>
                    </div>
                    <div class="work-btn">
                        <a class="btn btn-general btn-home-03" id="home-3-2" href="#" target="sell book"
                           role="button">Sell book</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="home-04">
    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="heading-01">
                        <h2>What our Customer are Saying</h2>
                    </div>
                </div>
            </div>
            <div class="row" id="customber-01">
                <div class="col-md-6 col-sm-12 col-12 customber customber-1-1">
                    <div class="author">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-2">
                                <img src="~/Content/images/customer-1.png" alt="customer-1">
                            </div>
                            <div class="col-md-10 col-sm-10 col-10">
                                <div class="author-name-des">
                                    <h4>Walter Meller</h4>
                                    <p>Founder & CEO,Matrix Group</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="customber-pera">
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quas
                        totam, delectus sit corporis quos error qui. Minus cupiditate explicabo."
                    </p>
                </div>
                <div class="col-md-6 col-sm-12 col-12 customber customber-1-2">
                    <div class="author">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-2">
                                <img src="~/Content/images/customer-2.png" alt="customer-2">
                            </div>
                            <div class="col-md-10 col-sm-10 col-10">
                                <div class="author-name-des">
                                    <h4>Jonnie Riley</h4>
                                    <p>Employee,Curious Snakcs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="customber-pera">
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quas
                        totam, delectus sit corporis quos error qui. Minus cupiditate explicabo."
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-12 customber customber-1-1">
                    <div class="author">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-2">
                                <img src="~/Content/images/customer-3.png" alt="customber-3">
                            </div>
                            <div class="col-md-10 col-sm-10 col-10">
                                <div class="author-name-des">
                                    <h4>Amilia Luna</h4>
                                    <p>Teachar,Saint josheph High School</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="customber-pera">
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quas
                        totam, delectus sit corporis quos error qui. Minus cupiditate explicabo."
                    </p>
                </div>
                <div class="col-md-6 col-sm-12 col-12 customber customber-1-2">
                    <div class="author">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-2">
                                <img src="~/Content/images/customer-4.png" alt="customber-4">
                            </div>
                            <div class="col-md-10 col-sm-10 col-10">
                                <div class="author-name-des">
                                    <h4>Daniel Cardos</h4>
                                    <p>Software Engineer,infinum company</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="customber-pera">
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quas
                        totam, delectus sit corporis quos error qui. Minus cupiditate explicabo."
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
