@model Notes_Market_Place.Models.User

@{
    Layout = null;
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">
    <title>Forgot Password</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    <!--GoogleFont-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--font - awesome-->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">

    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css">

    <!--style css-->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" href="~/Content/css/responsive.css">

</head>

<body>
    <section>
        <!--Background Image-->
        <div class="home-bg-image">
            <div class="container">
                <div class="row justify-content-center">
                    <div class=" col-12 col-sm-9 col-md-6">
                        @using (Html.BeginForm("Forgotpass", "Login", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="login-form">
                                <img src="~/Content/images/top-logo.png" alt="logo" class="login-img">
                                <div class=" form-container">
                                    <div class="login-1">
                                        <div class="heading-01 text-center">
                                            <h2>Forgot Password?</h2>
                                            <p class="login-pera">Enter your email to reset your password</p>
                                        </div>
                                    </div>
                                    @if (ViewBag.Message != null)
                                    {
                                        <div class="text-center">
                                            <p id="password-error"><i class="fa fa-times"></i>@ViewBag.Message</p>
                                        </div>
                                    }

                                    <div class="form-group email-flid">
                                        <label for="InputEmail3" class="titles">Email</label>
                                        @Html.TextBoxFor(modal => modal.EmailID, new { @class = "form-control InputEmail1", @placeholder = "Enter the Email Id" })
                                        @Html.ValidationMessageFor(modal => modal.EmailID)
                                    </div>
                                    <input type="submit" class="btn btn-lg btn-block login-btn" value="Submit">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--jQuery-->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>

    <!--bootstrap JS-->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!--Custom javascript-->
    <script src="~/Scripts/script.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>

