
@model Notes_Market_Place.Models.NoteType


@{
    ViewBag.Title = "AddType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddType", "Admin", FormMethod.Post))
{
    <section class="Add-notes">
        <div class="content-box-md">
            <div class="container">
                <div class="row first-component">
                    <div class="col-md-12">
                        <div class="heading-01">
                            <h2>Add Type</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <form>
                                <div class="form-group input-flid">
                                    <label for="text-1" class="titles">Type *</label>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter your notes title" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                    @*<input type="text" class="form-control default-text" value="IT">*@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group input-flid">
                            <label for="description" class="titles">Description *</label>
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Enter your description", @rows = 5 })
                            @Html.ValidationMessageFor(model => model.Description)
                            @*<textarea class="form-control" id="" rows="5"
                                placeholder="Enter your description"></textarea>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="home-add-notes">
                            <input type="submit" class="btn btn-general btn-home-03" target="save" value="submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
